{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add a new topic:</h2>
{% endblock header %}

{% block content %}

  <form action="{% url 'learning_logs:new_topic' %}" method="POST" class="form">

    <select name="dropdown">
      <option value='Public'>Public</option>
      <option value='Private'>Private</option>
    </select>

    {% csrf_token %}
    {% bootstrap_form form %}
    
    {% buttons %}
      <button name="submit" class="btn btn-primary">add topic</button>
    {% endbuttons %}


  </form>
  
{% endblock content %}